/*

Equilux Palette (version 0.2)
Author: Domizio Demichelis (dd.nexus@gmail.com)
_____________________________


Equilux Color Sets
==================

The Equilux sets are useful to create highlighting syntax themes and user
interface that reduce eye strain and look smooth and balanced.

A set of Equilux colors is a group of color with different hue but equal
_perceived_ brightness and saturation. That means that if you desaturate all the
colors in an Equilux set you produce the same shade of gray for all.


Equilux Palette
===============

A ready to use small subset of 30 Equilux sets is captured in the Equilux
Palette.

The palette is composed of 5 tables of different saturation. Each table contains
6 sets of different brightness, each set contains 7 hues (a neutral gray plus
the classic 6 hues: red, yellow, green, cyan, blue, magenta).

The palette contains also 256 shades of neutral gray named according to the same
convention, useful to use for other UI elements.

Chose a set for brightness and saturation, considering the brightness level of
the neutral background to generate more or less contrast. Use the different
colors in the same set for different items of the same kind.

Color Naming
============

The colors are named as follow:

<prefix><brightness-level>[<hue><relative-saturation>]

- prefix: literal "e" brightness-level: integer representing the
- brightness-level. "0-255" for neutrals and one of "65", "90", "115", "140",
  "165", "190" for non-neutral hues
- hue: one of "r", "y", "g", "c", "b", "m"
- relative-saturation: percentage of saturation considering "100" the maximum
  achievable saturation for a complete Equilux set. Available for "100", "90",
  "80", "70", "60" saturation percent.

Examples:

- e35: neutral gray with brightness level of 35 (#232323)

- e190: neutral gray with brightness level of 190 (#bebebe)

- e115r80: red hue with brightness level of 115 and relative saturation of 80
  (#996262)

- e140c100: cyan hue with brightness level of 140 and maximum possible
  saturation (#4ba8a8)

*/
::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  width: 17px;
  height: 17px;
  border: 0 solid rgba(0, 0, 0, 0.26);
  background-color: rgba(60, 60, 60, 0.9);
  background-clip: border-box;
}

::-webkit-scrollbar:horizontal,
::-webkit-scrollbar-corner {
  border-top-width: 1px;
}

::-webkit-scrollbar:vertical,
::-webkit-scrollbar-corner {
  border-left-width: 1px;
}

::-webkit-scrollbar-thumb {
  width: 32px;
  height: 32px;
  border: 4px solid transparent;
  border-radius: 8px;
  background-color: rgba(190, 190, 190, 0.5);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top-width: 5px;
  border-top-left-radius: 8px 9px;
  border-top-right-radius: 8px 9px;
}

::-webkit-scrollbar-thumb:vertical {
  border-left-width: 5px;
  border-top-left-radius: 9px 8px;
  border-bottom-left-radius: 9px 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(190, 190, 190, 0.7);
}

::-webkit-scrollbar-thumb:active {
  background-color: #bebebe;
}

::-webkit-scrollbar-thumb:disabled {
  background-color: rgba(190, 190, 190, 0.3);
}
